name: Code Analysis with Ruff

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["{{ cookiecutter.min_python_version }}"]
    steps:
    - uses: actions/checkout@v4
      with:
          persist-credentials: false
    - name: Set up Python ${{ "{{" }} matrix.python-version {{ "}}" }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ "{{" }} matrix.python-version {{ "}}" }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff
    - name: Analyzing the code with ruff
      run: |
        ruff check .
    - name: Check well formatted code
      run: |
        ruff format --check

